$primary-color: #84C7AE;
$secondary-color: #496c5e;
$background-color: #f6fbf9c6;
$text-color: #212B27;
$input-border-color: rgba(0, 0, 0, 0.1);
$white: #ffffff;
$shadow: #84c7aeaa;

$border-radius: 15px;

